@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    width: 90%;
    margin: 50px auto;
}
