.banner-container {
    display: flex;
    border-radius: 25px;
    margin: 4% 0;
    height: 220px;
    width: 100%;
    position: relative;
    text-align: center;
}

.banner__img {
    width: 100%;
    border-radius: 15px;
    filter: brightness(75%);
    object-fit: cover;
}

.banner__title {
    position: absolute;
    color: #fff; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 500;
    width: 100%;
    margin: 0;
}