.card__article {
    height: 340px;
    width: 340px;
    display: flex;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card__img {
    width: 100%;
    object-fit: cover;
    filter: brightness(65%);
}

.card__text {
    margin: 0 0 0 10px;
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

/* Small screen  */
@media only screen and (max-width: 1025px) {
    .card__article {
        height: 300px;
        width: 300px;
    }
}

/* Tablet properties  */
@media only screen and (max-width: 769px) {
    .card__article {
        height: 270px;
        width: 100%;
    }
}

/* Smartphone */
@media only screen and (max-width: 480px) {
    .card__article {
        height: 255px;
    }
}