.collapse__title {
    height: 52px;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.collapse__title::after {
    content: url(../assets/arrow_down.svg);
}
.collapse-container[open] .collapse__title:after {
    content: url(../assets/arrow_up.svg);
}

.collapse__content {
    padding: 30px 15px 35px;
    background-color: #f6f6f6;
    border-radius: 0 0 10px 10px;
    color: #ff6060;
    font-size: 18px;
    font-weight: 400;
}

.collapse__text {
    margin: 0;
}

.collapse__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Small screen */

@media only screen and (max-width: 1025px) {
    .collapse__title {
        height: 46px;
        font-size: 17px;
    }

    .collapse__content {
        padding: 25px 15px 30px;
        font-size: 16px;
    }
}

/* Tablet */

@media only screen and (max-width: 769px) {
    .collapse__title {
        height: 40px;
        font-size: 16px;
    }

    .collapse__content {
        padding: 15px 10px 5px 10px;
        font-size: 14px;
    }
}

/* Smartphone properties  */

@media only screen and (max-width: 480px) {
    .collapse__title {
        height: 30px;
        font-size: 13px;
    }

    .collapse__content {
        padding: 15px 10px 5px 10px;
        font-size: 12px;
    }

    .collapse__title::after {
        content: url(../assets/arrow_down_small.svg);
    }

    .collapse-container[open] .collapse__title:after {
        content: url(../assets/arrow_up_small.svg);
    }
}