.home-container {
    width: 90%;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 2% 0;
}

.card__link {
    margin: 2% 3%;
}

.card__link:link {
    color: white;
}

.card__link:visited {
    color: white;
}

.card__link:hover {
    color: white;
}

.card__link:active {
    color: white;
}
