.home-container {
    width: 86%;
    margin: auto;
}

.card-container {
    padding: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 25px;
}

.card__link {
    margin: 25px 5px;
}

.card__link:link {
    color: white;
}

.card__link:visited {
    color: white;
}

.card__link:hover {
    color: white;
}

.card__link:active {
    color: white;
}

/* Small screen */

@media only screen and (max-width: 1025px) {
    .card-container {
        padding: 20px 20px;
    }

    .card__link {
        margin: 15px 5px;
    }
}

/* Tablet */

@media only screen and (max-width: 769px) {
    .home-container {
        width: 89%;
    }

    .card-container {
        padding: 0;
        background-color: inherit;
    }

    .card__link {
        width: 100%;
        margin: 10px 0;
    }
}

/* Smartphone */

@media only screen and (max-width: 480px) {
    .card-container {
        background-color: inherit;
    }
}
