.tags-container {
    display: flex;
    flex-wrap: wrap;
}
.tags__text {
    height: 25px;
    width: 150px;
    margin: 5px 10px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6060;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

/* Small screen */

@media only screen and (max-width: 1025px) {
    .tags__text {
        height: 22px;
        width: 140px;
        font-size: 13px;
    }
}

/* Tablet */

@media only screen and (max-width: 769px) {
    .tags__text {
        height: 20px;
        width: 120px;
        border-radius: 5px;
        font-size: 12px;
    }
}

/* Smartphone */

@media only screen and (max-width: 480px) {
    .tags__text {
        height: 18px;
        width: 100px;
        font-size: 10px;
    }
}
